:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.darkBlueText{
  color: #2D3269;
}

.lightBlueText{
  color: #1DD3F5;
}
.blueButton{
  background-color: #1DD3F5 !important;
  padding: 10px 15px !important;
  border: 0px !important;
  border-radius: 100px !important;
}
.lightButton{
  color: #2D3269 !important;
  background-color: #ffffff !important;
  border-color: #2D3269 !important;
  padding: 10px 15px !important;
  border-radius: 100px !important;
}

.bgHomeBanner{
  background-color: #EEFCFF !important
}

.testimonailCard{
  background-color: #EEFCFF !important;
  border: 1px solid #1DD3F5;

}